/* Color Palette 
black: rgb(23, 42, 69); #172A45;
orange: rgb(255, 112, 67); #FF7043;
lightgreen: rgba(67, 255, 196, 0.7); #43FFC4B3;
bg-color: rgb(190, 221, 214);  #BEDDD6;
bg-dark-color: rgb(175, 200, 197); #AFC8C5;
clicked-cell: rgb(133, 173, 175); #85ADAF;
transparent red: rgba(255, 112, 67, 0.7); #FF7043B3;
*/

/* Generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1;
  color: rgb(23, 42, 69);
  background-color: rgb(190, 221, 214);
}

.game-container {
  width: calc((48px * 9) + 4px);
}

/* Game Panel */
h1 {
  font-size: 40px;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

/* Game grid */
.game-board {
  border: 2px solid rgb(23, 42, 69);
  position: relative;
}

.grid {
  width: calc(48px * 9);
  height: calc(48px * 9);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  cursor: pointer;
  outline: 1px dashed grey;
  background-position: center;
  background-size: contain;
}

.cell-dark {
  background-color: rgb(175, 200, 197);
}

.river {
  outline: none;
  background-color: lightblue;
}

.road {
  outline: none;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  background-color: gray;
}

.car {
  background-image: url('./images/car.png');
}

.bus {
  background-image: url('./images/bus.png');
}

.wood {
  background-image: url('./images/wood.png');
}

/* Duck Animation */
.duck {
  animation: changeDuckImage 0.6s step-start infinite;
}

@keyframes changeDuckImage {
  0% {
    background-image: url('./images/duck-walk/duck-walk-1.png');
  }
  25% {
    background-image: url('./images/duck-walk/duck-walk-2.png');
  }
  75% {
    background-image: url('./images/duck-walk/duck-walk-3.png');
  }
  100% {
    background-image: url('./images/duck-walk/duck-walk-4.png');
  }
}

/* Duck Animation on River */
.river.duck {
  animation: changeRiverDuckImage 0.6s step-start infinite;
}

@keyframes changeRiverDuckImage {
  0% {
    background-image: url('./images/duck-walk/duck-walk-1.png'),
      url('./images/wood.png');
  }
  25% {
    background-image: url('./images/duck-walk/duck-walk-2.png'),
      url('./images/wood.png');
  }
  75% {
    background-image: url('./images/duck-walk/duck-walk-3.png'),
      url('./images/wood.png');
  }
  100% {
    background-image: url('./images/duck-walk/duck-walk-4.png'),
      url('./images/wood.png');
  }
}

/* Duck Status */
.time-up,
.duck-arrived {
  background-image: url('./images/duck-standing.png');
}

.duck-hit {
  background-image: url('./images/duck-hit.png');
}

.duck-drowned {
  background-image: url('./images/duck-drowned.png');
}

/* Game over */
.end-game-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF7043B3;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.win {
  background-color: rgba(67, 255, 196, 0.7);
}

.end-game-text {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

.btn {
  font-size: 24px;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 4px 20px 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(23, 42, 69);
}

.btn:hover {
  background-color: rgb(175, 200, 197);
}

/* Utilities */
.hidden {
  display: none;
}
